world.sql
.vagrant/machines/box1/virtualbox/action_provision
.vagrant/machines/box1/virtualbox/action_set_name
.vagrant/machines/box1/virtualbox/box_meta
.vagrant/machines/box1/virtualbox/creator_uid
.vagrant/machines/box1/virtualbox/id
.vagrant/machines/box1/virtualbox/index_uuid
.vagrant/machines/box1/virtualbox/private_key
.vagrant/machines/box1/virtualbox/synced_folders
.vagrant/machines/box1/virtualbox/vagrant_cwd
.vagrant/machines/box2/virtualbox/action_provision
.vagrant/machines/box2/virtualbox/action_set_name
.vagrant/machines/box2/virtualbox/box_meta
.vagrant/machines/box2/virtualbox/creator_uid
.vagrant/machines/box2/virtualbox/id
.vagrant/machines/box2/virtualbox/index_uuid
.vagrant/machines/box2/virtualbox/private_key
.vagrant/machines/box2/virtualbox/synced_folders
.vagrant/machines/box2/virtualbox/vagrant_cwd
.vagrant/rgloader/loader.rb
.gitignore